@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@500&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/*  
Jogo da Forca
Projeto SantanderCoders - Logica de Programação <I>
Professora Jaque
*/

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
}

:root {
    --width-button: 74px;
    --height-button: 40px;
    --space-line-keys: 20px;
    background-color:azure;

}

.forca {
    margin-top: 29px;
    margin-left: 53px;
    min-width: 327px;
    min-height: 335px;
    fill: transparent;
    stroke: rebeccapurple;
    stroke-width: 4px;
    stroke-linecap: round;
}
.jogo-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
.forca-parte {
    display: none;
    stroke: rgb(255, 0, 179);
  }
  
.containerTexto {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 390px;
    min-width: 711px;
    min-height: 120px;
    align-items: center;
}

.containerTexto > h1 {
    font-size: 3rem;
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.containerTexto > h3 {
    font-size: 1.8rem;
    margin-top: 80px;
    font-family: 'Archivo Black', sans-serif;
}

.containerLetrasErradas {
    display: flex;
    margin-top: 224px;
    margin-left: 435px;
    min-width: 711px;
    min-height: calc(var(--height-button) + 24px);
    font-family: 'Roboto', sans-serif;
}
.letrasErradas {
    display: flex;
    margin-top: 23px;
    min-height: var(--height-button);
    gap: 5px;
    font-family: 'Roboto', sans-serif;
}
.palavraSecreta {
    display: flex;
    margin-top: 324px;
    margin-left: 390px;
    min-width: 711px;
    min-height: var(--height-button);
    gap: 5px;
    font-family: 'Roboto', sans-serif;
}

.cpse1, .cpse2, .cpse3, .cpse4, .cpse5, .cpse6, .cpse7, .cpse8, .cpse9 {
    position: relative;
    min-width: var(--width-button);
    max-height: var(--height-button);
    text-align: center;
    font-size: 2rem;
    border: 1px solid;
}

.cps1, .cps2, .cps3, .cps4, .cps5, .cps6, .cps7, .cps8, .cps9 {
    position: relative;
    min-width: var(--width-button);
    max-height: var(--height-button);
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid;
    margin-left: 30px;
}

/* 
TODO: Ajustar a altura do teclado!
TODO: Ajustar a centralização das teclas nas linhas
 */
.teclado {
    margin-top: 400px;
    margin-left: 397px;
    min-width: 779px;
    min-height: 198px;
    border: 0;
}

.teclasLinha0 {
    position: relative;
    min-width: 779px;
    min-height: var(--height-button);
}


.teclasLinha1 {
    position: relative;
    margin-top: var(--space-line-keys);
    min-width: 779px;
    min-height: var(--height-button);
}

.teclasLinha2 {
    position: relative;
    margin-top: var(--space-line-keys);
    min-width: 779px;
    min-height: var(--height-button);
}

.teclas{
    position: relative;
    width: var(--width-button);
    height: var(--height-button);
}
.ocultar{
    display: none;
}

.corCerta{
    background-color: #00d612;
}

.corErrada{
    background-color: #f32400;
}